.RectToBoard
{
    min-width: 750px;
    max-width: 750px;
    .bp4-dialog-header
    {
        padding-left   : 5px;
        width          : 100%;
        padding-bottom : 10px;
        justify-content: space-between;
        .Panel_Title
        {
            display  : flex;
            flex-flow: column nowrap;
            gap      : 5px;
            .Panel_Icon
            {
                width       : 24px;
                height      : 24px;
                margin-right: 10px;
            }
            .Panel_Name
            {
                display  : flex;
                flex-flow: row nowrap;
                h3
                {
                    color: $font-color-title;
                }
            }
            .Panel_Description
            {
                margin-left: 34px;
                color      : $font-color-content;
                >span
                {
                    color      : #2786C1;
                    font-weight: bold;
                    margin     : 0 2px;
                }
            }
        }
        .Configurations
        {
            height     : fit-content;
            align-self : stretch;
            display    : flex;
            flex-flow  : row nowrap;
            .bp4-html-select
            {
                width: 150px;
                >span{margin: 0;}
            }
            .bp4-editable-text
            {
                width       : 150px;
                font-size   : 16px;
                display     : flex;
                align-items : center;
                padding-left: 5px;
            }
            >.bp4-label
            {
                margin     : 0;
                line-height: 40px;
                color      : $font-color-content;
                font-size  : 16px;
            }
        }

    }
}

.R2B_Cabinet
{
    display  : flex;
    flex-flow: column wrap;
    .Cabinet_Params
    {
        display        : flex;
        flex-flow      : column wrap;
        justify-content: flex-start;
    }
    .BoardRoles
    {
        display        : flex;
        flex-flow      : row wrap;
        justify-content: flex-start;
        column-gap     : 20px;
    }
}

.R2B_Parse
{
    display  : flex;
    flex-flow: column wrap;
}

.R2B_Matrial
{
    display  : flex;
    flex-flow: column wrap;
}

.R2B_Comments
{
    display  : flex;
    flex-flow: column wrap;
    .AddComments
    {
        width    : 100%;
        display  : flex;
        flex-flow: row nowrap;
        gap      : 10px;
    }
    .R2B_CommentsList
    {
        display       : flex;
        flex-direction: column;
        .R2B_CommentsListHeader
        {
            width  : 100%;
            display: flex;
            align-items: center;
            >div
            {
                color: $font-color-title;
                flex: 7;
                &:nth-child(1)
                {
                    flex: 2;
                }
            }
        }
    }
    .R2B_CommentItem
    {
        width      : 100%;
        display    : flex;
        flex-flow  : row nowrap;
        gap        : 10px;
        font-size  : 20px;
        padding-top: 10px;
        .bp4-editable-text
        {
            flex: 7;
            &:nth-child(1)
            {
                flex : 2;
                width: 100%;
            }
        }
    }
}
