//✨ color ✨
$font-color-title  : #5C7080;
$font-color-content: #909AA3;

$color-deep-blue   : #215DB0;
$color-light-blue  : #4C90F0;

$color-deep-red    : #AC2F33;
$color-light-red   : #E76A6E;

$color-deep-yellow : #935610;
$color-light-yellow: #EC9A3C;

$color-deep-green  : #1C6E42;
$color-light-green : #32A467;

$color-light-grey  : #DCE0E5;


//global style
.LinkButton
{
    background: none !important;
    box-shadow: none !important;
    >span
    {
        text-decoration: underline;
        font-weight    : bold;
        color          : $font-color-content;
        letter-spacing : 1px;
        &>svg:not([fill]){color: $font-color-content;}
    }
    &:hover
    {
        &[disabled]
        {
            >span
            {
                color: $font-color-content;
                &>svg:not([fill]){color: $font-color-content;}
            }
        }
        background-color: transparent !important;
        >span
        {
            color: $font-color-title;
            &>svg:not([fill]){color: $font-color-title;}
        }
    }
    &[disabled]
    {
        >span
        {
            color: $font-color-content;
            &>svg:not([fill]){color: $font-color-content;}
        }
    }
}
.LinkButtonprimary
{
    @extend .LinkButton;
    //两种写法
    >span
    {
        color: $color-light-blue;
        &>svg:not([fill])
        {
            color: $color-light-blue;
        }
    }
    &:hover
    {
        >span{
            color: $color-deep-blue;
            &>svg:not([fill])
            {
                color: $color-deep-blue;
            }
        }
    }
}
.LinkButtondanger
{
    @extend .LinkButton;
    >.bp4-button-text{color: $color-light-red;}
    .bp4-icon > svg:not([fill]){color: $color-light-red;}
    &:hover
    {
        >.bp4-button-text{color: $color-deep-red;}
        .bp4-icon > svg:not([fill]){color: $color-deep-red;}
    }
}
.LinkButtonsuccess
{
    @extend .LinkButton;
    >.bp4-button-text{color: $color-light-green;}
    .bp4-icon > svg:not([fill]){color: $color-light-green;}
    &:hover
    {
        >.bp4-button-text{color: $color-deep-green;}
        .bp4-icon > svg:not([fill]){color: $color-deep-green;}
    }
}
.LinkButtonwarning
{
    @extend .LinkButton;
    >.bp4-button-text{color: $color-light-yellow;}
    .bp4-icon > svg:not([fill]){color: $color-light-yellow;}
    &:hover
    {
        >.bp4-button-text{color: $color-deep-yellow;}
        .bp4-icon > svg:not([fill]){color: $color-deep-yellow;}
    }
}


.AreaWithTitle
{
    padding      : 0 5px 5px 20px;
    border       : 1px $color-light-grey solid;
    position     : relative;
    margin-bottom: 15px;
    >.Titles
    {
        background-color: #fff;
        z-index         : 999;
        top             : 0;
        left            : 0;
        color           : $font-color-title;
        transform       : translateY(-50%) translateX(-10px);
        padding         : 0 5px;
        white-space     : nowrap;
        width           : max-content;
    }
    .bp4-form-group
    {
        margin-right: 10px;
        position    : relative;
        width       : fit-content;
        >label
        {
            width      : fit-content;
            white-space: nowrap;
            .bp4-popover-wrapper
            {
                display  : inline-block;
                margin   : 0;
                transform: translateX(0px);
                button
                {
                    >span{margin-top: -3px !important;}
                }
            }
        }
        .bp4-form-content
        {
            // width      : 60%;
            flex-grow  : 1;
            display    : flex;
            flex-flow  : row nowrap;
            align-items: center;
        }
        .bp4-text-muted
        {
            position: absolute;
            right   : 0;
        }
    }
}

.OptionWitchLink
{
    margin-bottom: 15px !important;
    .bp4-form-content
    {
        display    : flex;
        flex-flow  : row nowrap;
        align-items: center;
        .bp4-checkbox
        {
            margin: 0;
        }
    }
    .bp4-radio
    {
        margin: 0 10px;
    }
}

.FormGroupShort
{
    width        : fit-content;
    margin-right : 15px !important;
    margin-bottom: 10px;
    .bp4-form-content
    {
        max-width: 100px;
        input
        {
            max-width: 100px;
        }
    }
}
.FormGroupWitchTip
{
    @extend .FormGroupShort;
    padding-right: 24px;
}

.bp4-numeric-input
{
    .bp4-input-group
    {
        margin: 0 !important;
    }
    .bp4-button-group
    {
        transform: translateX(-100%);
        z-index  : 999;
    }
}
.bp4-input-group
{
    >input
    {
        padding-right: 10px !important;
    }
}
.bp4-html-select
{
    box-shadow:0px 1px 0 0 $font-color-content;
}

.TextHit
{
    color      : #2786C1;
    font-weight: bold;
    margin     : 0 2px;
}

.bp4-dialog-footer-actions
{
    >button
    {
        padding-right: 7px;
        >span
        {
            letter-spacing: 5px;
        }
    }
}

.EditableCheckBox
{
    display  : flex;
    width    : fit-content;
    flex-flow: row nowrap;
    >label
    {
        margin-top: 0 !important;
    }
}

.Hit
{
    display      : flex;
    align-items  : center;
    margin-bottom: 5px;
    button
    {
        padding-left: 0 !important;
    }
    >label
    {
        font-size: 14px;
        color    : $font-color-content;
    }
}

.EdgeBandingParams
{
    display  : flex;
    flex-flow: column nowrap;
    width    : fit-content;
    .bp4-form-group
    {
        width : fit-content !important;
        margin: 0;
    }
    >div:nth-child(2n-1)
    {
        margin-bottom: 15px;
        align-self   : center;
    }
    >div:nth-child(2)
    {
        align-items: center;
        .bp4-form-group:nth-child(3)
        {
            margin-left: 15px !important;
        }
    }
    >div:nth-last-child(1)
    {
        margin-top: 15px;
    }
    input
    {
        width: 60px !important;
    }
}
.EdgeBandingIcon
{
    width          : 50px;
    height         : 100px;
    box-shadow     : 0 0 2px 1px $font-color-content;
    padding        : 2px 0;
    display        : flex;
    flex-flow      : column nowrap;
    align-items    : center;
    justify-content: space-between;
    >span
    {
        color: $font-color-title;
    }
    >span:nth-child(2)
    {
        height     : 100%;
        border-left: 2px solid $font-color-title;
        margin     : -1px 0;
    }
}

.bp4-form-content
{
    align-self : stretch;
    height     : auto !important;
    display    : flex;
    flex-flow  : row nowrap;
    align-items: center;
}

.bp4-form-group
{
    margin-bottom: 0px;
    /**
    * 这个样式覆盖了InputGroup输入框的上阴影
    * 后续还得需要适配一些变种样式的写法
    **/
    .bp4-input-group:not(.bp4-intent-danger):not(.bp4-intent-primary):not(.bp4-intent-warning):not(.bp4-intent-success)
    {
        input:not(.bp4-editable-text-input):not(:focus)
        {
            box-shadow: 0 0 0px 1px $font-color-content;
        }
    }
}

.bp4-small
{
    height: 22px !important;
    input
    {
        height: 22px !important;
    }
}
