#translate-root {
    width: 100%;
    top: 0;
    left: 0;
}

#trans-popover {
    min-width: 20px;
    min-height: 10px;
    position: absolute;
    background-color: rebeccapurple;
    opacity: 0;
    transform: scale(.5);
    transition: opacity .1s ease-out .1s, transform .1s ease-out .1s;
    box-sizing: border-box;
    padding: 5px 10px;
    z-index: 99;
}

#trans-popover::after {
    position: absolute;
    bottom: calc(0px - 10px);
    left: calc(50% - 10px);
    border: 10px solid transparent;
    border-bottom-color: white;
    border-right-color: white;
    display: inline-block;
    transform: rotate(45deg);
    content: '';
    z-index: -1;
}

#trans-aduio {
    display: none;
}

.PopoverCard {
    font-family: none !important;
    font-size: 16px !important;
    font-weight: bold !important;
    position: absolute;
    box-sizing: border-box;
    padding: 10px;
    width: fit-content;
    transition: opacity .1s ease-out .1s, transform .1s ease-out .1s;
    transform-origin: bottom center;
    box-shadow: 0 5px 10px rgb(16 22 26 / 15%);
    background-color: rgb(255, 255, 255);
    border-width: 1px;
    border-style: solid;
    border-color: rgb(240, 240, 240);
    border-image: initial;
    border-radius: 2px;
    z-index: 999;
    display: flex;
    flex-flow: column-reverse nowrap;
    opacity: 0;
    transform: scale(.5);
}

.PopoverCard p {
    margin: 0;
    margin-bottom: 5px;
    font-size: 16px !important;
    font-weight: bold !important;
}

.PopoverCard p span {
    font-size: 16px !important;
    font-weight: bold !important;
    color: #738694;
}

.PopoverCard p button {
    background: none;
    border: none;
    padding: 0;
}
