.selected-regions
{
    width : 100vw;
    height: 100vh;
    position: relative;

    li
    {
        user-select: none;
    }
}

.region
{
    position        : absolute;
    background-color: rgba(45, 114, 210, .1);
    color: rgb(45, 114, 210)
}
